// This module is to optimize the first load.
// Only include styles that are important to the first meaningful paint of the page.
@import 'node_modules/normalize-scss/sass/_normalize.scss';
@include normalize();

@import 'styles/loading-spinner.scss';

body {
  background: black;
  color: lightgray;
  height: 100%;
  width: 100%;
}

$data-streams:
    "primary" #cc3333,
    "secondary" #33cc33,
    "tertiary" #3333cc;

$sparkline-container-height: 4em;

.sparklines {
    align-content: center;
    align-items: center;
    display: flex;
    height: $sparkline-container-height;
    justify-content: space-evenly;
    width: 100%;

    > .sparkline {
        height: 2em;
        position: relative;
        width: 7em;

        &.active:after {
          content: "🚀";
          font-size: 2em;
          left: -1em;
          position: absolute;
        }
    }

    @each $name, $color in $data-streams {
        ##{$name}-sparkline {
            box-shadow: 0px 0px 5px 0px $color;
        }
    }

}

#main-display {
    max-height: calc(100% - $sparkline-container-height);
    wisth: 100%;
}
