@import "~src/styles/variables";

.sparklines {
  align-content: center;
  align-items: center;
  display: flex;
  height: $sparkline-container-height;
  justify-content: space-evenly;
  width: 100%;

  @each $name, $color in $data-streams {
    .sparkline-#{$name} {
      box-shadow: 0px 0px 5px 0px $color;
    }
  }

}