@import "~styles/variables";

.sparkline {
  $sparkline-height: $sparkline-container-height / 2;

  cursor: pointer;
  height: $sparkline-height;
  position: relative;
  width: $sparkline-height * 3.5;

  &.active:after {
    content: "🚀";
    font-size: $sparkline-height;
    left: -($sparkline-height / 2);
    position: absolute;
    top: 0em;
  }

  &.active {
    cursor: default;
  }
}
